html,
body {
	height:99.9%;
	min-height:99.9%;
}
body {
	position:relative;
}

#main {
	position:absolute;
	top:70px; /* Move down content for fixed navbar 50px tall. */
	right:0;
	bottom:3em; /* Move up content for fixed footer 2em tall. */
	left:0;
	padding:0 1.5em;
	overflow:auto;
}

/* Flexboxen for application interface */

#health_data_lume {
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-content:flex-start;
	align-items:stretch;
}

#record_form {
	order:1;
	flex-grow:0;
	flex-shrink:0;
}

#output {
	order:2;
	flex-grow:1;
	flex-shrink:0;
	height:100%;
}

#footer {
	position:absolute;
	right:1.5em;
	bottom:0;
	left:1.5em;
	height:2em;
	margin:auto;
	padding:0 1em;
	border-top:thin solid #ccc;
}

#footer>p {
	line-height:1.4em;
	margin:0.2em auto auto;
}

#xml_status {
	margin:1em;
	clear:both;
}

/* High visibility text and subtle glow effect */
.navbar-inverse .navbar-brand {
	color:#fff;
	text-shadow:0 0 0.15em #000,0 0 0.5em #eee, 0 0 1em #eee;
}

.navbar a>* {
	display:inline-block;
	vertical-align:middle;
}

/* Seriously?! If I meant "disabled" I would _say_ "disabled"!  */
input.form-control[readonly] {
	background-color:#fff;
	cursor:text;
}

/* Cursor for collapsing panel-headings */
.panel-heading[data-toggle=collapse] {
	cursor:pointer;
}

/* Vertically align address and associated "use" icon */
.cda-addr address {
	display:inline-block;
}

.cda-addr .fa,
.cda-addr address {
	vertical-align:top;
}

/* Sample Browser */

caption {
	text-align:left;
	padding:4px 8px;
	border-width:medium thin thin;
	border-color:#ddd;
	border-style:double none solid;
}

caption>output, caption>strong {
	display:inline-block;
	vertical-align:top;
	padding:6px 0 0;
}

.modal-body .panel table>tbody td {
	vertical-align:top;
}

td.gh-item-type, th.gh-item-type {
	width:3.35em;
	max-width:3.35em;
}

td.gh-item-name, th.gh-item-name {
	width:auto;
}

td.gh-item-size, th.gh-item-size {
	width:7em;
	min-width:7em;
}

td.gh-item-name .btn {
	padding:0;
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;
	white-space:normal;
}

td.gh-item-size {
	text-align:right;
}

/* Hide nullFlavor values */
.cda-nullFlavor {
	display:none;
}

/* Print formatting */

@media print {

	body>header>h1 {
		margin-top:0;
		font-size:50px;
	}

	#footer {
		right:0;
		left:0;
		padding-right:0;
		padding-left:0;
	}
}