html,
body {
	height:99.9%;
	min-height:99.9%;
}
body {
	position:relative;
}

body>.container {
	padding-top:70px; /* Move down content for fixed navbar 50px tall. */
	padding-bottom:3em; /* Move up content for fixed footer 2.8em tall. */
}

#footer {
	position:absolute;
	right:2em;
	bottom:0;
	left:2em;
	height:2em;
	margin:auto;
	padding:0 1em;
	border-top:thin solid #ccc;
}

#footer>p {
	line-height:1.4em;
	margin:0.2em auto 0.4em;
}

#xml_status {
	margin:1em;
	clear:both;
}

/* High visibility text and subtle glow effect */
.navbar-inverse .navbar-brand {
	color:#fff;
	text-shadow:0 0 0.15em #000,0 0 0.5em #eee, 0 0 1em #eee;
}

/* Make this bigger */
#help_button>.glyphicon {
	font-size:16px;
	vertical-align:middle;
}

/* Seriously?! If I meant "disabled" I would _say_ "disabled"!  */
input.form-control[readonly] {
	background-color:#fff;
	cursor:text;
}

/* Faux glyphicon (in navbar) */
.navbar a.github:before {
	clear:left;
	float:left;
	background-image:url(lib/simple-icons/github-24.png);
	background-repeat:no-repeat;
	background-position:left center;
	height:auto;
	width:auto;
	min-height:20px;
	min-width:24px;
	position:relative;
	left:-4px;
	content:' ';
}

.navbar a.github:link,
.navbar a.github:visited {
	opacity:0.46875;
}

.navbar a.github:active,
.navbar a.github:focus,
.navbar a.github:hover {
	opacity:1;
}

.navbar a.github>span {
	color:#fff;
}

/* Output container */

#output iframe {
	width:100%;
	height:100%;
	margin:auto;
	border-style:none;
	display:block;
}
